@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100);


@font-face {
    font-family: 'nerissemibold';
    src: url('../webfonts/Neris-SemiBold-webfont.eot');
    src: url('../webfonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../webfonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nerislight';
    src: url('../webfonts/Neris-Light-webfont.eot');
    src: url('../webfonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Light-webfont.woff') format('woff'),
         url('../webfonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerisblack';
    src: url('../webfonts/Neris-Black-webfont.eot');
    src: url('../webfonts/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Neris-Black-webfont.woff') format('woff'),
         url('../webfonts/Neris-Black-webfont.ttf') format('truetype'),
         url('../webfonts/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* General */

.container-fluid {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.5em auto;
	padding: 0 5%;
}



/* header */

.page-header {
    background-color: black; 
    height: 50px; 
    margin: 0; 
    padding: 0; 
    border: none; 
}

.benefix-logo {
    width: 100px; 
    margin-top: 12.5px;
    margin-left: 15px; 
}





#menu-button {
    background-image: none; 
    border: none; 
    background-color: black;
    margin-top: 12.5px; 
    margin-right: 15px; 
    padding:0; 
    
}


.menu-icon {
    height: 20px; 
}



.dropdown-menu {
    
    background-color: black; 
    font-family:"nerissemibold"; 
    color: #e8c52e; 
}


.dropdown-menu > li > a {
color:          #e8c52e;
background:     black;
}

.dropdown-menu > li > a:hover {
color:          black;
background:     #e8c52e;
}




/* Landingpage */


.landingpage { 
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(125,185,232,0) 100%), url(../img/child.jpg); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%), url(../img/child.jpg); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(125,185,232,0) 100%), url(../img/child.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 40% 50%;
    margin-top: 50px; 
   
}



.landingpage h1 {
    
font-family: 'nerissemibold', sans-serif;
font-size: 1.8em; 
color: white; 
   
}


.landingpage h2 {
    
font-family: 'Lato', sans-serif;
font-size: 1em; 
color: white; 
margin: 0 7% 0 7%; 
   
}


.landingpage-ul {
  padding: 30px; 
}


.landingpage-li {
    margin-bottom: 20px;

 
}

.landingpage-ul a {
    color: #e8c52e; 
    border: 3px solid #e8c52e; 
 
}


.landingpage-ul p {
    font-family: 'nerisblack', sans-serif;
    font-size: 1.1em; 
     margin: 0 0 0 0; 
    padding: 0 0 0 0; 
  
}


.landingpage-ul > li > a:hover {
color:          black;
background:     #e8c52e;
}








/* About us */

.about-us h1 {
  margin: 0;
	padding: 15px 0;
	background-color: #e8c52e;
	font-weight: normal;
  font-family: 'nerislight', sans-serif;
}

.about-us h2 {
  color: #000;
  font-family: 'nerissemibold', sans-serif;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-us li {
  	border: none;
  	padding: 40px 0 10px;
		margin: 0 0.5% 20px;
  	text-align: center;
  	font-family: 'nerissemibold', sans-serif;
  	font-weight: bold;
  	color: #e8c52e;
  	font-size: 0.95em;
		width: 100px;
		height: 101px;
}

.about-us li:nth-child(1) {
	background: url("../img/icon_concept.png") no-repeat;
	margin-left: 0;
	background-size: 100%;

}

.about-us li:nth-child(2) {
	background: url("../img/icon_webdesign.png") no-repeat;
	background-size: 100%;

}

.about-us li:nth-child(3) {
	background: url("../img/icon_development.png") no-repeat;
	margin-right: 0;
	background-size: 100%;
}


/*portfolio*/

.portfolio li:nth-boy(1) {
    background: url("../img/boy.gif") no-repeat;
    background-size: 100%;
    
    
}

.portfolio li:nth-children(2) {
    backround: url("../img/children.gif") no-repeat;
    background-size: 100%;
}

.portfolio li:nth-girl(3){
    background: url("../img/girl.png") no-repeat;
    background-size: 100%;
}



/* Contact us */

.contact-us h1 {
	margin: 0;
	padding: 15px 0;
	background-color: #00998a;
	font-weight: normal;
  font-family: 'nerislight', sans-serif;
}

.contact-us h2 {
	color: #000;
	font-family: 'nerissemibold', sans-serif;
	font-size: 1.2em;
	margin-top: 2em;
  margin-bottom: 1em;
}

.contact-details {
  padding: 0 15px;
}

.social-contact {
	height: 1em;
	padding-right: 0.8em;
}

.contact-us ul {
  list-style-type: none;
	padding: 0;
}

.list-group-item {
  border: none !important;
  padding-left: 0;
}

label,
input[type="text"],
input[type="email"],
textarea {
font-family: 'Lato', sans-serif;
}

label {
font-size: 1em;
}

input[type="text"],
input[type="email"],
textarea {
font-size: 0.9em;
background-color: rgba(0,153,138,0.3) !important;
}

.btn {
  margin-top: 5px;
  background-color: rgba(0,153,138,0.3) !important;
	font-family: 'Lato', sans-serif;
  font-size: 1em;
	font-weight: bold;
}

.contact-details li a {
	color: #00998a;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}



    /* Footer */



footer  {
    text-align: center;
    color: white;
    font-family: "lato";
    font-size: 0.8em;
    clear: both;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
   margin-top: 40px; 
    }


.footer-paragraph {
   margin: 0 auto;
    padding: 3px 0 10px;
    font-size: 1.2em; 
    

}


.social {
    height:40px;
    padding: 15px 5px 0px 5px;
}




/* Media queries tablet size */

@media screen and (min-width: 768px)  {

  /* About us */

  		.about-us li {
  		  	padding: 80px 0 10px;
  				margin: 20px 20px 50px;
  		  	text-align: center;
  		  	font-size: 1.7em;
  				width: 200px;
  				height: 201px;
  		}

      .about-us h2 {
          margin-top: 50px;
      }
    
    
/* landingpage */
    
    
.landingpage h1 {

font-size: 3.5em;
margin: 60px 40px 40px 40px; 

   
}


.landingpage h2 {
    
font-size: 1.9em; 
margin: 0 7% 0 7%;

   
}


.landingpage-ul {
  padding: 70px; 
}


.landingpage-li {
    margin-bottom: 40px;

}



.landingpage-ul p {
    font-size: 1.1em; 

    }
    
    /* Contact us */

    .contact-us h2 {
        margin-top: 50px;
    }



    
     .landingpage-ul a {
    color: #e8c52e; 
    border: 6px solid #e8c52e; 
    font-size: 1.6em; 
}
}



/* Media queries desktop size */

@media screen and (min-width: 992px)  {
    
    
    /* landingpage */
    
    
.landingpage-ul {
    padding: 100px 70px 100px 70px; 
}
    
.landingpage-ul a {
    margin: 45px; 
}
    
.benefix-logo {
    margin-left: 25px; 
    margin-top: 22px; 
    width: 150px;
}
    
    
#menu-button {
    margin-right: 25px; 
    margin-top: 25px; 
    padding:0; 
    
}


.menu-icon {
    height: 32px; 
}

  .page-header {
    height: 80px; 

} 
    
    .landingpage h1 {

font-size: 3.5em;
margin: 90px 40px 60px 40px; 

   
}
    
}
    

